.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.ambient-shadow {
  box-shadow: 0 15px 15px -3px rgba(74, 66, 56, 0.04);
}
.high-elevation-shadow {
  box-shadow: 0 30px 60px -12px rgba(74, 66, 56, 0.15);
}
